In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [5]:
df = pd.read_csv("dataset/covid.csv")
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [6]:
df["fever"]

0     103.0
1     100.0
2     101.0
3      98.0
4     101.0
      ...
95    104.0
96    101.0
97    101.0
98     98.0
99     98.0
Name: fever, Length: 100, dtype: float64

In [7]:
df["fever"].isnull().sum()

10

# 1.Aam Zindagi

In [8]:
# Adding the simple imputer to fever column
si = SimpleImputer()
df_fever = si.fit_transform(df[["fever"]])
df_fever.shape

(100, 1)

In [11]:
# OrdinalEncoding -> cough
oe = OrdinalEncoder(categories=[["Mild","Strong"]])
df_cough = oe.fit_transform(df[["cough"]])
df_cough.shape

(100, 1)

In [13]:
# OneHotEncoding -> Gender,city
ohe = OneHotEncoder(drop='first',sparse=False)
df_gc = ohe.fit_transform(df[['gender','city']])
df_gc.shape

(100, 4)

In [16]:
# Extracting age
df_age = df.drop(columns=['gender','fever','cough','city']).values
df_age.shape

(100, 2)

In [21]:
df_transfomed = np.concatenate((df_age,df_fever,df_gc,df_cough), axis=1)
df_transfomed.shape

(100, 8)

# Mentos Zindagi

In [22]:
from sklearn.compose import ColumnTransformer

In [30]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(drop='first',sparse=False),['gender','city'])
],remainder='passthrough')

In [31]:
transformer.fit_transform(df).shape

(100, 8)

In [ ]:
#