# PANDAS SERIES

Series is an 1D labeled array capable of holding data of any type(integer,float,python object, etc).The axis labeled are collectivelly called as index

#syntax : pd.series(data,index,dtype,copy)

In [3]:
import numpy as np
import pandas as pd
ser1 = pd.Series([1,2,3,4,5])
print(ser1)
print()
ser2 = pd.Series(['a','b','c','d'])
print(ser2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

0    a
1    b
2    c
3    d
dtype: object

In [4]:
import numpy as np
import pandas as pd
ser1 = pd.Series([1,2,3,4,5],dtype = np.float64)
print(ser1)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [7]:
import numpy as np
import pandas as pd
ser1 = pd.Series([1,2,3,4,5],index=["num1","num2","num3","num4","num5"])
print(ser1)

num1    1
num2    2
num3    3
num4    4
num5    5
dtype: int64

In [8]:
import numpy as np
import pandas as pd
i = pd.Index(["num1","num2","num3","num4","num5"])
ser1 = pd.Series([1,2,3,4,5],i)
print(ser1)

num1    1
num2    2
num3    3
num4    4
num5    5
dtype: int64

In [9]:
import numpy as np
import pandas as pd
ser1 = pd.Series({"Rohit":40,"KL Rahul":30,"Virat":60,"Panth":35,"Hardik":40})
print(ser1)

Rohit       40
KL Rahul    30
Virat       60
Panth       35
Hardik      40
dtype: int64

# DATA FRAMES

In [ ]:
DataFrame is the collection of multiple Series