# Import MYSQL connector

In [4]:
import mysql.connector as con

# CONNECTION TO DATABASE

In [7]:
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root"
)
print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001826DDD9610>

# CREATE A DATABASE

In [11]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root"
)
my_cursor = new_db.cursor()
my_cursor.execute("CREATE DATABASE college25")

# CHECK DATABASE CREATED OR NOT?

In [12]:
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root"
)
my_cursor = new_db.cursor()
my_cursor.execute("SHOW DATABASES")
for a in my_cursor:
    print(a)

('college25',)
('college28',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# CREATING TABLES AND SHOWING DATA

In [14]:
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "college25"
)
my_cursor = new_db.cursor()
query = "CREATE TABLE student25(rollno int, name varchar(100))"
my_cursor.execute(query)

# LIST ALL TABLES IN NEW DATABASE

In [15]:
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "college25"
)
my_cursor = new_db.cursor()
query = "CREATE TABLE teacher25(tno int, tname varchar(100))"
my_cursor.execute(query)
my_cursor.execute("SHOW TABLES")
for table in my_cursor:
    print(table)

('student25',)
('teacher25',)

# INSERTING DATA INTO THE TABLES

In [16]:
query = "INSERT INTO student25 (rollno, name) VALUES (%s,%s)"
values = ("1","sachin")
my_cursor.execute(query,values)
new_db.commit()
print(my_cursor.rowcount,"new record inserted")

1 new record inserted

# INSERTING MULTIPLE RECORDS INTO TABLE

In [17]:
query1 = "INSERT INTO student25 (rollno, name) VALUES (%s,%s)"
values = [("2","gurunath"),
          ("3","nihal"),
          ("4","vishal"),
          ("5","abhishek")
         ]
my_cursor.executemany(query1,values)
new_db.commit()
print(my_cursor.rowcount,"new record inserted")

4 new record inserted

# DISPLAY THE RECORDS FROM TABLE

In [19]:
my_cursor = new_db.cursor()
query1 = "SELECT * FROM student25"
my_cursor.execute(query1)
for a in my_cursor:
    print(a)

(1, 'sachin')
(2, 'gurunath')
(3, 'nihal')
(4, 'vishal')
(5, 'abhishek')