In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("dataset/tips.csv")
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [6]:
df.shape

(244, 7)

In [7]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

In [8]:
X = df.drop(columns=['tip'])
X

     total_bill     sex smoker   day    time  size
0         16.99  Female     No   Sun  Dinner     2
1         10.34    Male     No   Sun  Dinner     3
2         21.01    Male     No   Sun  Dinner     3
3         23.68    Male     No   Sun  Dinner     2
4         24.59  Female     No   Sun  Dinner     4
..          ...     ...    ...   ...     ...   ...
239       29.03    Male     No   Sat  Dinner     3
240       27.18  Female    Yes   Sat  Dinner     2
241       22.67    Male    Yes   Sat  Dinner     2
242       17.82    Male     No   Sat  Dinner     2
243       18.78  Female     No  Thur  Dinner     2

[244 rows x 6 columns]

In [10]:
df['day'].unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [9]:
Y = df[['tip']]
Y

      tip
0    1.01
1    1.66
2    3.50
3    3.31
4    3.61
..    ...
239  5.92
240  2.00
241  2.00
242  1.75
243  3.00

[244 rows x 1 columns]

In [11]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,train_size=0.8)

In [12]:
X_train

     total_bill     sex smoker   day    time  size
12        15.42    Male     No   Sun  Dinner     2
58        11.24    Male    Yes   Sat  Dinner     2
82        10.07  Female     No  Thur   Lunch     1
128       11.38  Female     No  Thur   Lunch     2
153       24.55    Male     No   Sun  Dinner     4
..          ...     ...    ...   ...     ...   ...
146       18.64  Female     No  Thur   Lunch     3
162       16.21  Female     No   Sun  Dinner     3
72        26.86  Female    Yes   Sat  Dinner     2
31        18.35    Male     No   Sat  Dinner     4
203       16.40  Female    Yes  Thur   Lunch     2

[195 rows x 6 columns]

In [13]:
X_test.shape

(49, 6)

In [14]:
Y_train.shape

(195, 1)

In [15]:
Y_test.shape

(49, 1)

In [16]:
tr = ColumnTransformer(transformers=[
    ('trn1',OrdinalEncoder(categories=[['Thur','Fri','Sat','Sun']]),['day']),
    ('trn2',OneHotEncoder(drop='first',sparse=False),['sex','smoker','time'])
],remainder='passthrough')

In [17]:
tr

ColumnTransformer(remainder='passthrough',
                  transformers=[('trn1',
                                 OrdinalEncoder(categories=[['Thur', 'Fri',
                                                             'Sat', 'Sun']]),
                                 ['day']),
                                ('trn2',
                                 OneHotEncoder(drop='first', sparse=False),
                                 ['sex', 'smoker', 'time'])])

In [19]:
tr.fit_transform(X_train)

array([[ 3.  ,  1.  ,  0.  ,  0.  , 15.42,  2.  ],
       [ 2.  ,  1.  ,  1.  ,  0.  , 11.24,  2.  ],
       [ 0.  ,  0.  ,  0.  ,  1.  , 10.07,  1.  ],
       ...,
       [ 2.  ,  0.  ,  1.  ,  0.  , 26.86,  2.  ],
       [ 2.  ,  1.  ,  0.  ,  0.  , 18.35,  4.  ],
       [ 0.  ,  0.  ,  1.  ,  1.  , 16.4 ,  2.  ]])

In [20]:
tr.fit_transform(X_test)

array([[ 0.  ,  0.  ,  0.  ,  1.  , 18.26,  2.  ],
       [ 0.  ,  1.  ,  0.  ,  1.  , 15.98,  2.  ],
       [ 2.  ,  0.  ,  1.  ,  0.  , 13.27,  2.  ],
       [ 3.  ,  0.  ,  0.  ,  0.  , 24.59,  4.  ],
       [ 3.  ,  1.  ,  0.  ,  0.  , 19.77,  4.  ],
       [ 2.  ,  1.  ,  0.  ,  0.  , 21.7 ,  2.  ],
       [ 3.  ,  0.  ,  0.  ,  0.  , 25.  ,  4.  ],
       [ 2.  ,  0.  ,  0.  ,  0.  ,  7.25,  1.  ],
       [ 0.  ,  0.  ,  0.  ,  1.  ,  8.35,  2.  ],
       [ 2.  ,  0.  ,  1.  ,  0.  ,  3.07,  1.  ],
       [ 2.  ,  1.  ,  0.  ,  0.  , 12.69,  2.  ],
       [ 0.  ,  1.  ,  0.  ,  1.  , 17.29,  2.  ],
       [ 0.  ,  1.  ,  1.  ,  1.  , 16.58,  2.  ],
       [ 2.  ,  1.  ,  1.  ,  0.  , 20.49,  2.  ],
       [ 3.  ,  1.  ,  0.  ,  0.  , 13.94,  2.  ],
       [ 2.  ,  0.  ,  0.  ,  0.  , 20.92,  2.  ],
       [ 2.  ,  1.  ,  0.  ,  0.  , 17.59,  3.  ],
       [ 0.  ,  1.  ,  0.  ,  1.  , 27.2 ,  4.  ],
       [ 2.  ,  1.  ,  0.  ,  0.  , 24.06,  3.  ],
       [ 3.  ,  1.  ,  1.  ,  0.  , 40.55,  2.  ],
       [ 0.  ,  1.  ,  0.  ,  1.  , 11.69,  2.  ],
       [ 2.  ,  1.  ,  0.  ,  0.  , 16.31,  3.  ],
       [ 0.  ,  0.  ,  1.  ,  1.  , 13.  ,  2.  ],
       [ 3.  ,  1.  ,  1.  ,  0.  , 31.85,  2.  ],
       [ 3.  ,  1.  ,  0.  ,  0.  , 12.54,  2.  ],
       [ 1.  ,  0.  ,  1.  ,  0.  , 11.35,  2.  ],
       [ 2.  ,  1.  ,  0.  ,  0.  , 17.81,  4.  ],
       [ 1.  ,  1.  ,  1.  ,  0.  , 27.28,  2.  ],
       [ 2.  ,  0.  ,  0.  ,  0.  , 19.65,  2.  ],
       [ 3.  ,  0.  ,  0.  ,  0.  , 29.85,  5.  ],
       [ 3.  ,  1.  ,  0.  ,  0.  ,  9.68,  2.  ],
       [ 2.  ,  0.  ,  0.  ,  0.  , 20.69,  4.  ],
       [ 3.  ,  1.  ,  1.  ,  0.  , 45.35,  3.  ],
       [ 2.  ,  1.  ,  0.  ,  0.  , 14.  ,  2.  ],
       [ 2.  ,  1.  ,  1.  ,  0.  , 24.27,  2.  ],
       [ 0.  ,  0.  ,  0.  ,  1.  , 24.08,  4.  ],
       [ 3.  ,  0.  ,  0.  ,  0.  , 16.97,  3.  ],
       [ 3.  ,  1.  ,  1.  ,  0.  , 34.65,  4.  ],
       [ 2.  ,  1.  ,  1.  ,  0.  , 26.59,  3.  ],
       [ 0.  ,  1.  ,  1.  ,  1.  , 20.53,  4.  ],
       [ 0.  ,  1.  ,  0.  ,  1.  , 14.26,  2.  ],
       [ 3.  ,  1.  ,  0.  ,  0.  ,  9.94,  2.  ],
       [ 2.  ,  1.  ,  0.  ,  0.  , 10.51,  2.  ],
       [ 2.  ,  1.  ,  1.  ,  0.  , 15.53,  2.  ],
       [ 3.  ,  1.  ,  0.  ,  0.  , 20.69,  5.  ],
       [ 0.  ,  1.  ,  0.  ,  1.  , 24.71,  2.  ],
       [ 3.  ,  1.  ,  0.  ,  0.  , 16.29,  3.  ],
       [ 0.  ,  1.  ,  1.  ,  1.  , 19.44,  2.  ],
       [ 0.  ,  0.  ,  0.  ,  1.  ,  8.51,  2.  ]])